*{
    box-sizing: border-box;
}
.card{
    border: none;
    overflow-y: hidden;
    overflow-x: auto;
}

.searchContainer{
    margin-top: 1%;
    margin-left: 0%;
}

table {
    margin-top: 2%;
    table-layout: fixed;
    width: 100%;
    min-width: 50rem;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
thead td{
    background-color: #2EE59D;
    color: white;
    white-space: nowrap;
    padding: 3px 0 3px 20px;
    font-size: 18px;
    font-weight: 600;

}
td {
    border: 1px solid #ddd;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    padding: 3px 0 3px 15px;
    font-size: 15px;
}



#checkbox-column{
    width: 6%;
}

#id-column{
    width: 20%;
    text-overflow: ellipsis;
}

#name-column{
    width: 35%;
}

#points-column , #credits-column{
    width: 14%;
}

@media (max-width: 768px) {
    #name-column {
        width: 25%;
    }

    #points-column,
    #credits-column {
        width: 15%;
    }

    footer{
        flex-direction: column;
        gap: 5px;
    }
}

#notFoundMessage{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    white-space: nowrap;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}